<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>小鸮欢迎您</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        .clear {
            clear: both;
            height: 20px;
            width: 100%;
        }

        .qr_img {
            height: 200px;
            margin: 0 auto;
        }
        .th_img{
            display: block;
            width:22px;
            height:22px
        }
        .sub{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .nc{
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="row">
            <div class="col nc">
                请加交流群，直接动手体验各种前沿 AI 技术。
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <img src="/static/img.png" class="qr_img">
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col sub"><img src="/static/th.png" alt="" class="th_img"><div>长按上方二维码加群</div></div>
        </div>
    </div>
</body>

</html>